<?xml version="1.0" ?>
<robot name="beermug">
  <link name="body">
    <contact>
        <lateral_friction value="1"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.2"/>
       <inertia ixx="0.019" ixy="0.00001" ixz="0.00001" iyy="0.019" iyz="0.00001" izz="0.019"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	      <mesh filename="BeerMugVisual.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="BeerMugCollision.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>

